################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/RdpProtocolHandler/bin/Debug
/RdpProtocolHandler/obj/Debug
/.vs/RdpProtocolHandler/v14
